/* single-column styling */

@media (max-width: 460px) {
  .column {
      width: 80% !important;
  }
}

@font-face {
    font-family: 'Terminus';
    src: url('../fonts/terminus.ttf') format('ttf'),
         url('../fonts/terminusttf-4.47.0.woff2') format('woff2'),
         url('../fonts/terminusttf-4.47.0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.column {
    font-family: 'Roboto Slab', serif;

    width: 100%;
    max-width: 35em;
    min-width: 10em;
    min-height: 100%;

    left: 0;
    right: 0;
    margin: 0 auto;

    padding: 20px;
    padding-top: 5px;
    padding-bottom: 3px;

    background-color: #ffe6cc;
    color: #000;
}

#content, #main {
    width: 100%;
}

/* title/header styling */

header.header {
    width: 100%;
    margin-bottom: 20px;
}

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.subtitle {
    margin-top: 0px;
}

/* post styling */

.post-header {
    margin-bottom: 10px;
    padding-bottom: 10px;

    width: 100%;
    border-bottom: 1px solid #fcdfc7;
}

.post-summary-header {
    padding-bottom: 10px;

    width: 100%;
    border-top: 1px solid #fcdfc7;
}

.post-title {
    font-size: 16px;
    margin-bottom: -10px;
}

.post-meta {
    font-size: 11px;
    margin-bottom: -5px;
}

.post-summary-text {
    margin-bottom: 5px;
    margin-left: 1%;
    width: 98%;
}

.post-summary-footer {
    margin-bottom: 5px;
}

/*/ Markdown Styling Below /*/

/* general paragraph styling */

p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

/* image styling */

img {
    width: calc(100% + 40px);

    margin-left: -20px;

    margin-bottom: 10px;
    margin-top: 10px;
}

/* link styling */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: #FC4747;
    color: #fff;
}

/* list styling */

ul {
    margin-left: 20px;
    list-style-type: square;
}

ol {
    margin-left: 20px;
    list-style-type: hiragana;
}

/* blockquote styling */

blockquote {
    border-left: 2px solid #000;
    padding-left: 20px;
    margin-left: -20px;

    color: #6e6e6e;
}

/* hr/bar styling */

hr {
    margin-bottom: 30px;
    margin-top: 30px;

    border: 0;
    height: 0;
    border-top: 1px solid #000;
}

/* table styling */

table {
    left: 0;
    right: 0;
    margin: 0 auto;

    margin-top: 10px;
    margin-bottom: 10px;

    border-collapse: collapse;
}

td, th {
    padding: 3px;
    padding-left: 5px;
    padding-left: 5px;
}

thead tr th {
    border-bottom: 1px solid #000;
}

tbody tr td {
    border-bottom: 1px solid #fcdfc7;
}

tbody tr:last-child td {
    border: none;
}

/* footer styling */

footer.bottom-footer {
    padding-top: 0px;

    width: 100%;
    border-top: 1px solid #fcdfc7;

    font-size: 12px;
}

/* code block styling */

pre {
    width: 100%;
    color: #000;
    background-color: #fee3c9;

    padding: 5px 20px 5px 20px;

    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

code {
    font-family: Terminus, Inconsolata, monospace;
}

/* general background styling */

* { padding: 0; margin: 0; }

html{
    width: 100%;
    height: 100%;
    background-color: #ffdebd;
}
body {
    width: 100%;
    min-height: 100%;
    font-size: 14px;
}
