<footer class="bottom-footer">
  <div class="copyright">
    <p>
    &copy; {{ .Site.Params.Author }}.
    <a href="http://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution">some rights reserved</a>; please attribute properly and link back.
    <a href="mailto:{{ .Site.Params.Email }}">contact</a>.
    <a href="{{ .Site.Params.Giturl }}">git</a>.
    </p>
  </div>
</footer>

<script>
    renderMathInElement(document.getElementById('main'));
</script>

</div>
</body>
</html>
